.loading-container {
    display: block;
    text-align: center;
    #load {
        // position: absolute;
        display:inline-block;
        margin: 0 auto;
        // margin: 0 auto;
        width: 20em;
    }
}