@import './vars';

.dropdown-button {
  border:1px solid #660000;
  border-radius:5px;
  padding:10px 10px 10px 10px;
  display: block;
  color: black;
  text-decoration: none;
}
.nav-bar {
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 0px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
}


.login-signup {
  font-size: 14px;
  float: right;
  font-family: $main-font;
  height: 40px;
}

.button-primary {
  background-color: #34bf49;
  color: #fff;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  height: 15px;
  &:hover {
    background-color: rgb(70, 205, 94)
  }
}

.newUser:hover {
  background-color: #41cb56;
}

.nav-header-dropdown {
  margin: 0;
  font-size: 14px;
  display: none;
  white-space: nowrap;
  background: #fff;
  border: 1px solid #ccc;
  width: 100px;
  margin-right: 150px;
  margin-top: -5px;
  -webkit-padding-start: 0px;
}

// .nav-header-dropdown li button {
//   width: 100%;
//   text-align: center;
//   border: 0px;
//   text-align: left;
//   color: rgb(81, 85, 88);
// }

.dropdown:hover .nav-header-dropdown {
  display: block;
  position: absolute;
  right: 1px;
  padding: 0px;

}

.nav-right {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 3.5px;
  display: inline;
}

.dropdown-button {
  font-size: 14px;
  border: 0;
  padding: auto;
  border-radius: 0;
}

#logo {
  width: 35px;
  height: 35px;
  border-radius: 25%;
  margin-top: 5px;
}

#second-button {
  background: #fff;
  color: black;
  &:hover {
    color: rgb(28,151, 227)
  }
}

.upload {
  height: 50px;
}

#nav-upload {
  height: 43px;
}
