.nav-bar {
  margin-left: 40px;
  margin-top: 0px;
}


.login-signup {
  font-size: 14px;
  float: right;
  background: transparent;
  font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 40px;
}

.newUser {
  background-color: #34bf49;
  color: #fff;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  margin-right: 40px;
}
