@import './vars';

.nav-bar {
  margin-left: 0px;
  margin-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 0px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
}


.login-signup {
  font-size: 14px;
  float: right;
  font-family: $main-font;
  height: 40px;
}

.newUser {
  background-color: #34bf49;
  color: #fff;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  height: 15px;
}

.newUser:hover {
  background-color: #41cb56;
}

.nav-header-dropdown {
  margin: 0;
  font-size: 14px;
  display: none;
  white-space: nowrap;
  background: #fff;
  border: 1px solid #ccc;
  width: 100px;
  margin-right: 30px;
  -webkit-padding-start: 0px;
}

.nav-header-dropdown li button {
  width: 100%;
  text-align: center;
  border: 0px;
  text-align: left;
  color: rgb(81, 85, 88);
}

.dropdown:hover .nav-header-dropdown {
  display: block;
  position: absolute;
  right: 1px;
  padding: 0px;

}


.profile-pic {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 5px;
  display: inline;
}

#logo {
  width: 35px;
  height: 35px;
  border-radius: 25%;
  margin-top: 5px;
}

#logout {
  font-size: 14px;
  border-top: 0.5px solid;
  border-top-color: gray

}

#second-button {
  background: #fff;
  color: black;
  &:hover {
    color: rgb(28,151, 227)
  }
}
