.photos-container-new {
  padding-top: 0.5em;
  .photo-row {
    display: flex;
    max-height: 50vh;
    width: auto;
    margin: 0 0.5em;
  }
}

.photos-container {
  column-count:3;
  column-gap: 1em;
  align-items: center;

}

.default-pic-container {
  width: auto;
  margin: 0.5em;
}

.default-pic {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
  margin: 0 0 1em;
      animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.open-pic1 {
  width: 500px;
  max-width: 50%;
  justify-content: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}

.show {
  max-height: 650px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  object-fit: contain;


  .open-pic {
    margin: 0;
    top: 50%;
    max-width: 650px;
    max-height: 650px;
    overflow: none;
    object-fit: contain;

  }

  .details {
    margin: 100px;
    text-align: center;
    align-self: center;
  }
}



.preview-pic {
  max-width: 50%;
  max-height: 50%;
  min-width: 10%;
  min-height: 10%;
  margin-left: 5px;
}

.upload-form-container {
  background: white;
}

.form-buttons {
  float: right;
  margin-top: 10px;
}

.action-buttons:active:focus {
  outline:none;
}

.action-buttons:focus {
  outline: none;
}


textarea {
  height: 200px;
  width:  200px;
}

#delete {
  background-color: red;
}

.greeting-message-container {
  position: absolute;
  text-shadow: 1px 1px #000000;
  color: #F3EFE0;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.greeting-message {
  margin-bottom: 100px;
}

#entry-button {
  text-decoration: none;
  text-shadow: 1px 1px #000000;
  border: 2px #F3EFE0;
  color: #F3EFE0;
  padding: 20px 80px;

  width: 115px;
  height: 25px;
  background: rgb(0, 149, 233);
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;

  &:hover {
    background: rgb(0, 166, 255)
  }
}

.search-bar {
  display: block;
  height: 35px;
  width: 500px;
  margin: 40px;
  border-radius: 20px;
  padding-left: 20px;
}

#button-close {
  background-color: red;
}