.default-profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  margin-top: 20px;
}

.center {
  text-align: center;
}

.main-profile-pic {
  display:block;
  margin:auto;
  border-radius: 50%
}

.profile-item-container {
  text-align: center;

}

.profile-information {
  display: inline-block;
  ul li {
    font-size: 25px;
    margin-bottom: 30px;
    text-align: left;
  }
}
.show-profile {
  width: 325px;
  height: 300px;
}

.profile-pic {
  display: block;
  margin: auto;
}
