.default-profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.username {
  text-align: center;
}

.main-profile-pic {
  display:block;
  margin:auto;
  border-radius: 50%
}

.profile-item-container {
  text-align: center;
}

.show-profile {
  width: 325px;
  height: 300px;
}
