@import './vars';

.session-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(247, 248, 250);
  margin-top: 20vh;
}
.session-form {
  display: block;
  margin: 0 auto;
  border: 1px solid #eeeff2;
  padding: 24px 40px 24px;
  width: 400px;
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  box-sizing: border-box;
  background: #fff;
  font-style: inherit;
}


.session-input-container {
  display: inline;
  font-style: inherit;
  font-size: 14px;
  color: #71767a;
  margin-bottom: 10px;
  width: 100%;
  label {
    width: 100%
  }
}

.session-input {
  width: 93%;
  margin: 6px 0px 17px 0px;
  font-size: 14px;
  padding: 8px 10px;
  color: #525558;
  border: 1px solid rgba(185, 193, 199, 0.5);
}

.err {
  animation-name: flash;
  animation-duration: 2s;
  animation-timing-function: linear;
}
@keyframes flash {
  from { border: 1px solid rgba(185, 193, 199, 0.5);}
  to {border: 1px solid red }
}

.error-list {
  list-style-type: none;
  color: red;
}

#status {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.mainButton {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  height: auto;
}
