.upload-form-container {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
}

input[type="file"]{
  display: none;
}

#upload-photo-button {
  border: 1px solid;
  padding: 6px 12px;
  cursor: pointer;
  background-color: blue;
  color: white;
}

.upload-photo {
  margin: auto;
  display: inline-block;

}

.input-details {
  float: right;
  margin-right: 20px;
}
