.upload-form-container {
  width: 600px;
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10%;
}

input[type="file"]{
  display: none;
}

input {
  margin-top: 10px;
}

.action-button {
  position: relative;
  margin-top: 25px;
  border: 1px solid;
  padding: 6px 12px;
  cursor: pointer;
  background-color: blue;
  color: white;
  height: 35px;
}

.upload-photo {
  margin: auto;
  display: inline-block;

}

.input-details {
  float: right;
  margin-right: 60px;
}

#main-upload {
  height: 60px;
  margin-bottom: 40px;
}

#main-upload[disabled] {
  background-color: #DCDAD1
}

#delete {
  color: white;
  background-color: red;

}